ds18b20.flow
[{"id":"93c41372.103ba8","type":"rpi-ds18b20","z":"a564595f.642818","topic":"","array":false,"name":"","x":170,"y":1140,"wires":[["8b6e738e.5cfe48"]]},{"id":"a843f6b9.9bcf48","type":"debug","z":"a564595f.642818","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":530,"y":1140,"wires":[]},{"id":"a2c3b6cc.9d8b08","type":"inject","z":"a564595f.642818","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":1020,"wires":[["93c41372.103ba8"]]},{"id":"8b6e738e.5cfe48","type":"function","z":"a564595f.642818","name":"C-to-F","func":"celcius=msg.payload;\nmsg.payload=celcius*1.8 + 32.;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1140,"wires":[["a843f6b9.9bcf48","1453b5a7.2992ba"]]},{"id":"1453b5a7.2992ba","type":"mqtt out","z":"a564595f.642818","name":"","topic":"brew_room/ds18b20","qos":"0","retain":"true","broker":"e24d32af.7af308","x":570,"y":1260,"wires":[]},{"id":"e24d32af.7af308","type":"mqtt-broker","z":"","name":"CloudMQTT","broker":"","port":"1883","tls":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
